button{
    background-color: #054375;
    width: 185px;
    height: 30px;
    color: white;
    border: none;
    margin-top:20px;
    float: center;
    margin-left: 35px;
}
.log{
    background-image: url("https://previews.123rf.com/images/mirexon/mirexon1412/mirexon141200138/34449425-abstract-background-with-basket-and-shopping-site-menu.jpg");
    height: 100%; 
    width: 100%;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.forms{
    background-color: lightcyan;
    border: 1px solid #ebe4eb;
    width: 250px;
    float: right;
    height: 230px;
    margin: 20px;
    margin-top: 80px;
}

.register_form{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.name1{
    margin: 20px;
    margin-left: 35px;
    margin-top: 30px;
    padding: 5px;
}

.name2{
    padding: 5px;
    margin-left: 35px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.details{
    border: 3px solid #5992c0;
    padding: 10px;
    width: 80%;
    height: 200px;
    margin: 50px;
    border-collapse: collapse;
}

th{
    text-align: center;
    font-size: medium;
    color: brown;
    height: 30px;
}
td{
    height:30px ;
    padding-left: 10px;
}